<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/orderDetail.css">
    <title>Sipariş Detaylları</title>
</head>
<body>
    <!--HEADER-->
    <!--HEADER-->
    <%- include('partials/_header') %>


    <div class="order-detail">
        <div id="order-detail-top">
            <div id="order-detail-top-img">
                <img src="/img/other/ilan-1.jpg" alt="ilan resmi">
            </div>
            <div id="order-detail-top-description">
                <h1> <%= order.title %></h1>
                <p>
                    <%= order.description %>
                </p>
            </div>
        </div>
        <div id="order-detail-mid">
            <div id="order-detail-mid-date">
                <div id="order-detail-mid-date-stick">
                    <img src="/img/icon/other/stick.svg" alt="">
                </div>
                <div id="order-detail-mid-date-time">
                    <span id="order-detail-mid-date-time-start" > Başlangıç Tarihi : <%= order.createdAt.getMonth() + "-" + order.createdAt.getDate() +  "-" + order.createdAt.getFullYear()%></span>
                    <span id="order-detail-mid-date-time-end">Bitiş Tarihi :  <%= order.createdAt.getMonth() + "-" + order.createdAt.getDate() +  "-" + order.createdAt.getFullYear()%></span>
                </div>
            </div>
            <div id="order-detail-mid-status">
                <img src="/img/icon/other/status-wait.png" alt="">
                <span>Devam Ediyor</span>
            </div>
        </div>
        <div id="order-detail-btm">
            <div id="order-detail-btm-profile">
                <div class="order-detailbtm-profile-between">
                    <div id="order-detail-btm-profile-start">
                        <img src="/img/avatar/profile-1.png" alt="">
                        <a href="#"> <%= order.owner.name + " " + " " + order.owner.surname %> </a>
                    </div>
                    <div id="order-detail-btm-profile-mid">
                        <h1><%= order.advert.category %></h1>
                        <p>
                            <%= order.advert.detail_long %>
                        </p>
                    </div>
                </div>
                <div id="order-detail-btm-profile-end">
                    <a href="#">İptal</a>
                </div>
            </div>
            <div id="order-detail-btm-price">
                    <div  id="order-detail-btm-price-type-value" ><%- order.price_unit_count %> <%= (order.advert.price_type === 'Dakikalık')  ?  'dakika'   :  (order.advert.price_type === 'Günlük') ? 'Gün' : (order.advert.price_type)  %> x <%= order.advert.price_unit %> TL</div>
                    <div  id="order-detail-btm-price-total"><%-  order.price_unit_count * order.advert.price_unit %></div>
            </div>
        </div>
    </div>
</body>
</html>